@import "tailwindcss";

@theme {
  --color-primary: #4ADEDD;
  --color-secondary: #1a1a1a;
  --color-dark: #0a0a0a;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

@layer base {
  body {
    @apply bg-dark text-white antialiased;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-blue-500;
}